.slider-container {
    width: 90%;
    margin: 0 auto;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .slick-dots li button:before {
    color: #000; /* Dot color */
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #000; /* Arrows color */
  }
  